<h1>3 | Data Wrangling</h1>
<!-- Section 1 -->

<h2>Array Operators</h2>

<!-- Exercise 1 -->
<h3>Excercise 1: Map</h3>
The company is calling you and asks you to anonymize the names of your clients in your web application.
<br>Use the Map operator <code> customerList.map(...)</code> anonmyize the names to "A","B","C","D","E"
<h4> Clients </h4>
<div *ngFor="let customer of customerList">
	<code>{{customer.name}}</code>
</div>
<br>
<button (click)="anonymize()"> anonymize </button>
<h3>Excercise 2: Filter</h3>
The market department wants to identify critical clients, who have a lot of money. Use the filter operator
<code> this.customerList = this.customerList.filter(...)</code> to group rich customers
<br>
<button (click)="groupByMoney()"> Group by money </button>
<div *ngFor="let customer of customerList">
	<div> <code>{{customer.name}}</code>
		<div style="display: flex; justify-content: center"> {{customer.money}} €</div>

	</div>

</div>
<h3>Excercise 3: Reduce</h3>
Due to an error by your side, all total sums are missing. Use the reduce operator <code>customer.qty.reduce(...) </code>
to keep your job.
<br>
<button (click)="sumOfQuantity()"> Sum </button>
<div *ngFor="let customer of customerList">
	<code>{{customer.sum}}</code>
</div>
<h3>Bonus: Clean the Code!</h3>
A person before you was working on the project beforehand, unfortunately he didnt take this seminar, so his code is a
little bit messy. Your company wants to increase the rating of customers based the gaussiasn random function with a
variance of your choosing.
<button (click)="testFunction1()"> Sum </button>
<div *ngFor="let customer of customerWithMoney">
	<code>{{customer.rating}}</code>
</div>

<!-- Insert Answer for Exercise 1.1 -->
<div class="exercise">

</div>